@font-face {
  font-family: 'Gamefont';
  src: url('./assets/fonts/RubikVinyl-Regular.ttf');
}

body{
  background: #e5ddbd;
}

*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

#my-canvas{
  position: absolute;
  z-index: -2;
  -webkit-transform: translateZ(0);
}

#root{
  width: 900px;
  height: 700px;
  position: relative;
  border: 5px solid black;
  margin: auto;
  box-shadow:0px 0px 0px 1px black inset;
  transition: all 1s;
  transition-timing-function: ease-in;
  opacity: 0;
}

#menu{
  width: 900px;
  height: 700px;
  position: absolute;
  transition: all 0.2s;
  opacity: 0;
  background: #ffffff59;
}

#menu > h1{
  text-align: center;
  font-size:80px;
  font-family: "Gamefont";
  transition: all 1s;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 0px;
}

#menu > h1:hover{
  text-align: center;
  letter-spacing: 20px;
  transition: all 1s;
  text-shadow: 1px 1px 5px black;

}

#menu > p{
  text-align:center;
  font-family: "Helvetica";
  font-weight:800;
  margin-top: -10px;
  margin-bottom: 40px;
}

.menubutton{
  display:flex;
  width: 200px;
  height: 50px;
  background: white;
  border: 5px solid black;
  border-radius: 15px;
  opacity: 0.5;
  margin: auto;
  margin-bottom: 20px;
  transition: all 0.2s;
  justify-content: center;
  align-items: center;
  font-family:"Gamefont";
  font-size: 40px;
}

.menubutton > p{
  align-items: center;
}

.menubutton:hover{
  opacity: 0.8;
  transition: all 0.2s;
}

.menubutton:focus{
  opacity: 1
}

#ingamemenu{
  position: absolute;
  display: flex;
  justify-content:flex-end;
  width: 100%;
  opacity: 0;
  transition: all 0.2s;
}

#bonusingamemenu{
  position: absolute;
  display: flex;
  justify-content:flex-end;
  width: 100%;
  opacity: 0;
  transition: all 0.2s;
}

.ingamebutton{
  width: 50px;
  height: 50px;
  background: white;
  border: 5px solid black;
  border-radius: 15px;
  opacity: 0.5;
  transition: all 0.2s;
  font-family:"Gamefont";
  font-size: 40px;
  position:relative;
  margin: 5px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.ingamebutton:hover{
  opacity: 1;
  transition: all 0.2s;
}

#deadmenu{
  width: 900px;
  height: 700px;
  position: absolute;
  transition: all 0.2s;
  opacity: 0;
}

#deadmenubackground{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background: red;
  z-index: -1;
  opacity: 0.3;
}

#deadmenu > h1{
  text-align: center;
}

.deadbuttons{
  position: relative;
  top: 40%;
}

.deadbutton{
  display:flex;
  width: 200px;
  height: 50px;
  background: white;
  border: 5px solid black;
  border-radius: 15px;
  opacity: 0.5;
  margin: auto;
  margin-bottom: 20px;
  transition: all 1;
  justify-content: center;
  align-items: center;
  font-family:"Gamefont";
  font-size: 40px;
}

.deadbutton > p{
  align-items: center;
}

.deadbutton:hover{
  opacity: 1;
}

#tutorialmenu{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: Alpha(opacity=100);
  transition: opacity 1s;
  background: #ffffff59;
  overflow-y: scroll;
  overflow-x: hidden;
}

#tutorialmenu > .menubutton{
  margin-top: 200px;
}

.tutorial > img{
  position: relative;
  width: 70%;
}

.tutorial > p{
  padding: 15px;
  color: #342a2a;
  font-family: system-ui;
  font-size: 15px;
  width: 30%;
}

.tutorial{
  position: relative;
  margin: 20px;
  border: solid 7px #e3e9e2;
  border-radius: 7px;
}

.tutorial{
  width: 75%;
  display: flex;
  background: #ffffffc9;
  margin-left:auto;
  margin-right: auto;
}

#pausemenu{
  width: 900px;
  height: 700px;
  position: absolute;
  transition: all 0.2s;
  opacity: 0;
  background: #ffffff59;
}

#mapmenu{
  width: 900px;
  height: 700px;
  position: absolute;
  display: flex;
  opacity: 0;
}

#bonusmenu{
  width: 900px;
  height: 700px;
  position: absolute;
  opacity: 0;
  display: flex;
  align-items: center;
  background: #ffffff59;
}

#bonusbuttons > .menubutton{
  font-size: 22px;
  margin-bottom: 10px;
  width: 170px;
  height: 40px;
}


#mapmenucontainer{
  display: flex;
  width: 100%;
  position: relative;
  bottom: 5%;
}

#mapbuttons{
  position: relative;
  top: 80%;
  height: 0px;
}

.mapbutton{
  margin-bottom: 5px;
  position: relative;
  bottom: 25px;
}

.incrementbutton{
  position: relative;
  bottom: 23px;
}

.pausebuttons{
  position: relative;
  top: 40%;
}

#rankmenu{
  position: absolute;
  width: 900px;
  display: flex;
  justify-content: center;
  opacity: 0;
  top: 127px;
}

#rankbox{
  overflow-y: scroll;
  width: 450px;
  height: 240px;
  background: rgba(255,255,255,0.75);
  position: relative;
  border: solid 7px #e3e9e2;
  border-right: 0px;
  opacity: 0.8;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
}

#rankbox:hover{
  opacity: 1;
  transition: all 0.2s;
}

#rankcontainer{
  position: relative;
  top: 20px;
}

.rankrowcontainer{
  position: relative;
  height: 57px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.rankrow{
  display: flex;
  align-items: center;
  position: relative;
}

.rankrow{
  padding: 0px;
  border: solid 4px rgb(240,240,240);
  height: 40px;
  width: 350px;
  box-shadow: 8px 8px 4px rgba(0,0,0,0.2);
}

.rankrow > h1{
  padding-right: 40px;
  padding-left: 10px;
  height: 40px;
  background-color: white;
  font-family: Helvetica;
}

.rankrow > h2{
  background-color: white;
  height: 40px;
  width: 80px;
  padding-left: 10px;
  font-family: Helvetica;
  display: flex;
  align-items: center;
}

.ranknameimage{
  display: flex;
  align-items: center;
  width: 200px;
  height: 40px;
  background-color: rgb(240,240,240);
  overflow: hidden;
}

.ranknameimage > img{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.ranknameimage > p{
  font-family: "Helvetica";
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 125px;
}

#personalrankbox{
  width: 450px;
  height: 70px;
  border: solid 7px #e3e9e2;
  background: rgba(255,255,255,0.75);
  opacity: 0.8;
  transition: all 0.2s;
  border-right: 0px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: center;
}

#personalrankbox:hover{
  opacity: 1;
  transition: all 0.2s;
}

[hidden]{
  display:none !important;
}

.fullopacity:{
  opacity: 1 !important;
}

.notime{
  font-family: "Helvetica";
  font-size: 27px;
  color: black;
  opacity: 1;
  font-weight: bold;
}

.loginbutton{
  width: 200px;
  height: 50px;
  background: rgba(255,255,255,0.55);
  color:rgba(0,0,0,0.6);
  border: 5px solid rgba(0,0,0,0.65);
  border-radius: 15px;
  margin: auto;
  margin-bottom: 20px;
  transition: all 0.2s;
  font-family:"Gamefont";
  font-size: 40px;
}

#signin{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.loginbuttonhover:hover{
  transition: all 0.2s;
  opacity: 1;
  background: rgba(255,255,255,1);
  color:rgba(0,0,0,1);
  border: 5px solid rgba(0,0,0,1);
}

#signin > p{
  margin-left: 20px;
  font-size: 30px;
}

#signin > .loginbuttoncontainer{
  margin-right: 25px;
}

#signout{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#signout > p{
  margin-left: 10px;
  font-size: 30px;
}

#signout > img{

  margin-right: 15px;
  width: 40px;
  height: 40px;
  box-shadow: 5px 3px 5px black;

}

.loginbuttoncontainer{
  opacity: 1;
  z-index: 5;
  position: relative;
  width: 38px;
  box-shadow: 5px 3px 5px black;
}

#loadingdots{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 100px;
  opacity: 0;
  transition: all 0.1s;
}

#publishingloading{
  width: 40px;
  height: 40px;
  opacity: 1;
  transition: all 0.1s;
  position: absolute;
}

#publishinglogged{
  color: white;
}
